## Deliverable 2. Create a Customer Travel Destinations Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy2_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,69.01,82,20,11.50,few clouds
1,1,Hasaki,JP,35.7333,140.8333,50.00,43,20,17.27,few clouds
2,2,Airai,TL,-8.9266,125.4092,62.47,100,100,3.29,overcast clouds
3,3,Lebu,CL,-37.6167,-73.6500,57.83,90,2,13.04,clear sky
4,4,Lincoln,US,40.8000,-96.6670,45.00,80,1,7.43,clear sky

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
11,11,Bengkulu,ID,-3.8004,102.2655,82.53,70,85,4.54,overcast clouds
13,13,Avarua,CK,-21.2078,-159.7750,84.20,70,20,9.22,light rain
14,14,Butaritari,KI,3.0707,172.7902,81.52,83,67,15.19,light rain
24,24,Georgetown,MY,5.4112,100.3354,82.40,57,20,6.91,few clouds
30,30,Sibolga,ID,1.7427,98.7792,81.91,71,14,1.74,few clouds
31,31,Hilo,US,19.7297,-155.0900,78.80,57,75,10.36,broken clouds
39,39,Hobyo,SO,5.3505,48.5268,75.58,81,48,16.69,scattered clouds
40,40,Saint-Pierre,RE,-21.3393,55.4781,75.99,73,0,4.61,clear sky
43,43,Port Keats,AU,-14.2500,129.5500,89.06,66,100,8.63,overcast clouds
44,44,Trinidad,BO,-14.8333,-64.9000,75.43,92,60,2.08,broken clouds

In [23]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             156
City                   156
Country                156
Lat                    156
Lng                    156
Max Temp               156
Humidity               156
Cloudiness             156
Wind Speed             156
Current Description    156
dtype: int64

In [24]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
11,11,Bengkulu,ID,-3.8004,102.2655,82.53,70,85,4.54,overcast clouds
13,13,Avarua,CK,-21.2078,-159.7750,84.20,70,20,9.22,light rain
14,14,Butaritari,KI,3.0707,172.7902,81.52,83,67,15.19,light rain
24,24,Georgetown,MY,5.4112,100.3354,82.40,57,20,6.91,few clouds
30,30,Sibolga,ID,1.7427,98.7792,81.91,71,14,1.74,few clouds
...,...,...,...,...,...,...,...,...,...,...
658,658,Ranong,TH,9.9658,98.6348,82.40,69,40,2.30,scattered clouds
660,660,Vila Velha,BR,-20.3297,-40.2925,78.80,83,40,5.75,scattered clouds
663,663,Bonthe,SL,7.5264,-12.5050,77.58,85,0,6.11,clear sky
664,664,Alofi,NU,-19.0595,-169.9187,80.60,19,90,6.91,light rain
666,666,Manavalakurichi,IN,8.1333,77.3000,80.60,65,20,2.30,haze

In [28]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = city_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cape Town,ZA,69.01,few clouds,-33.9258,18.4232,
1,Hasaki,JP,50.00,few clouds,35.7333,140.8333,
2,Airai,TL,62.47,overcast clouds,-8.9266,125.4092,
3,Lebu,CL,57.83,clear sky,-37.6167,-73.6500,
4,Lincoln,US,45.00,clear sky,40.8000,-96.6670,
5,New Norfolk,AU,73.00,few clouds,-42.7826,147.0587,
6,Port Elizabeth,ZA,68.00,clear sky,-33.9180,25.5701,
7,Ushuaia,AR,51.80,broken clouds,-54.8000,-68.3000,
8,College,US,-5.80,light snow,64.8569,-147.8028,
9,Bethel,US,30.20,overcast clouds,41.3712,-73.4140,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure